<a href="https://colab.research.google.com/github/hydro-7/Krish-Naik-Course/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas
!pip install numpy
!pip install ipykernel

In [ ]:
import pandas as pd
import numpy as np

# **Series**

In [ ]:
data = [1,2,3,4]
series = pd.Series(data) # series from a list, indexing as : 0 1 2 3

data1 = {'a':1, 'b':2, 'c':3}
series1 = pd.Series(data1) # series from a dictionary, indexing as : a b c

In [ ]:
datalist = [1,2,3,4]
indexlist = ['a', 'b', 'c', 'd']

pd.Series(datalist, index = indexlist) # Series w index from indexlist & data from datalist

# **Dataframe**

In [ ]:
# Dataframe can have multiple rows & columns, whereas series is only 1D

data = {
    'Name' : ["PP", "QQ", "RR"],
    'Age' : [20, 21, 22],
    'City' : ["Delhi", "Mumbai", "Chennai"]
}

df = pd.DataFrame(data)
print(df)
np.array(df)

Reading CSV Files

In [ ]:
# Reading a csv file called "data_file" :

# df.head(n) gives the top n records from the dataframe

df = pd.read_csv("data_file.csv")
df.head(1)

# to pick up a particular column : df['column name'] OR df.iloc[col number]

# to pick up a particular row : df.loc[row number]

# to store using only index you includde header=None
# i.e,

df = pd.read_csv("data_file.csv", header = None)
df.head(1)

# **Altering Dataframe**

In [ ]:
# Creating a new column:

df['new_column'] = [1, 2, 3, 4]

# Remove a column:

df.drop('row_name', inplace = True) # checkes the row indexes, incplace saves the df after removing i.e, makes a permanent change

df.drop('col_name',axis = 1, inplace = True) # checks the column indexes

Statistical Results

In [ ]:
# The describe function returns values of statistical importance wrt dataframe

df.describe()

Handling Missing Values

In [ ]:
df.isnull().any() #shows if there is a missing value in each of the columns; true => missing value

df.isnull().sum() #shows the number of missing values in each column

df_filled = df.fillna(0) #fills the missing values with 0 (this isnt very viable)

df_filled = df.fillna(df.mean()) #fills the missing values with the mean (more viable)

# **Data Aggregating and Grouping**

Mean for a column

In [ ]:
grouped_mean = df.groupby('column_name')['values_column'].mean() # column_name contains categorical data, whereas values_column contains corresponding values

grouped_mean1 = df.groupby(['column_name', 'column_name_1'])['values_column'].mean() # grouping by multiple columns

# **Reading JSON Files**

Reading

In [ ]:
from pandas as pd
from io import StringIO
Data = StringIO('{"Name":["PP","QQ","RR"],"Age":[20,21,22],"City":["Delhi","Mumbai","Chennai"]}')
df = pd.read_json(StringIO(Data))
df

Converting DF back to JSON

In [ ]:
df.to_json()

# takes key value pairs using index

df.to_json(orient = 'index') # same as above

# takes key value pairs using column names

In [ ]:
df.to_json(orient = 'records')

# takes kvp using records return json file same as the original file

# **Reading HTML Files**

In [ ]:
!pip install lxml
!pip install html5lib
!pip install BeautifulSoup4

In [ ]:
url = 'https://www.w3schools.com/html/default.asp'
df = pd.read_html(url)
df[0]

In [ ]:
# if there are multiple tables on a particular url, you can use the match keyword
# using this you can select the unique header of a particular table which you wish to select

df = pd.read_html(url, match = 'Example')
df[0]

# **Reading Excel Files**

In [ ]:
!pip install openpyxl

In [ ]:
df_excel = pd.read_excel('data.xlsx')

Pickle Files

In [ ]:
df_excel.to_pickle('df_excel')

In [ ]:
pd.read_pickle('df_excel')